
  /*  nav bar start */ 

.navbar {
   background-color: #005eb8;
}

.navbar .navbar-nav .nav-link {
  background-color: #005eb8 !important;
  color: #fff;
}

.navbar #quarto-search.type-overlay .aa-Autocomplete svg.aa-SubmitIcon {
  width: 26px;
  height: 26px;
  background-color: #005eb8 !important;  
  color: #fff;
  opacity: 1;
}

.navbar .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.active {
	background-color: #005eb8 !important;  
	color: #fff;
}
